# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/cache

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/dist

# internal agent logs & workspaces
.agents/

# misc
.DS_Store
*.pem
*.log

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local
!.env.example

# sqlite temporary wal files
prisma/*.db-shm
prisma/*.db-wal

# typescript
*.tsbuildinfo
next-env.d.ts
